*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: fit-content;
    width: 100%;
}

body{
    /* background-color: rgba(32, 3, 3, 0.769); */
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a665c883-531f-491e-af67-198bb5206ea6/d3n15qk-e549fda4-cbdf-41fc-8936-77ef3f68f82b.jpg/v1/fill/w_900,h_390,q_75,strp/new_portfolio_background_by_larundel_d3n15qk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzkwIiwicGF0aCI6Ii9mL2E2NjVjODgzLTUzMWYtNDkxZS1hZjY3LTE5OGJiNTIwNmVhNi9kM24xNXFrLWU1NDlmZGE0LWNiZGYtNDFmYy04OTM2LTc3ZWYzZjY4ZjgyYi5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.dnQMp88to8APkhlAsBBumRJlZ2ocTK7lmZBuxVx_Vpk");
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

ul{
    flex-direction: row;
    list-style: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

button{
     width: 100px;
    height: 40px;
    background: #a2560a;
    border: 2px solid #a2560a;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    transition: 0.2s ease;
    cursor: pointer;
}

.one{
    height: 400px;
    width: 400px;
    margin-top: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.one h5{
    margin-top: 80px;
    font-weight: bold;
}
.one h2{
    margin-top: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec8b2a;
}
.one h4{
    margin-top: 5px;
    font-size: medium;
}
.one p{
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
}

.two{
    height: 400px;
    width: 400px;
    margin-top: 30px;
}

.two img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}